body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
}
header {
    width: 100%;
    height: 90px;
    background-color: #BDD1E7;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    color: #0A3641;
    padding-left:10px;
}
header img.top-logo{
    height: 80px;
    width:auto;
    margin-right: 16px;
}
.nav-top ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    margin: 0;
    gap: 65px;
}
.nav-top ul li a {
    font-size: 1.5rem; 
    text-decoration: none;
    color: #0A3641;
}
.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content {
    max-width: 1700px;    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0 20px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #BDD1E7;
    color: #0A3641;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.opening-hours-etc p {
    margin: 6px 0;   
    padding: 0;
    line-height: 2;
    flex: 0 0 auto;
    text-align: left;
}
footer img.bottom-logo {
    flex: 0 0 auto;
    height: 100px;
    width: auto;
    display: block;
}
.footer-nav {
    flex: 0;
    text-align: center;
    padding-right: 90px;
}
.footer-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
.footer-nav ul li {
    margin-bottom:10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #0A3641
}
.footer-nav ul li a {
    font-size: 1.2rem; 
    text-decoration: none;
    color: #0A3641;
    white-space: nowrap; 
}
body.contact-page {
    background-image: none;
    background-color: #0A3641;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
}
body.contact-page .coming-soon {
    font-size: 4rem;
    font-weight: bold; 
    letter-spacing: 2px;
}
body.contact-page h1, body.contact-page .back-home {
    color: white;
}
body.about-page{
    background-color: #0A3641;

}